*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.lader{
position: fixed;
top: 0px;
left: 0px;
height: 100vh;
width: 100%;
background-color: rgb(32, 106, 106);
display: flex;
justify-content: center;
align-items: center;
}

.xml{
    background-color:rgb(15, 46, 91);
}

.card{
    background: linear-gradient(35deg,rgb(148, 30, 50),rgb(0, 170, 255),rgb(76, 50, 146));
    font-size: bold;
    margin-top: 22px;
}
h2 {
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;

}
div#postcontainer {
    flex-direction: column-reverse;
    display: flex;
}
.form-group{
    font-size: 25px;
    font-style: bold;

}